name: Despliegue a produccion

on:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar pruebas
        run: npm test

      - name: Deploy to Render
        if: success()
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
          echo "Deploy activado en Render."

      - name: Enviar Notificaci贸n a Slack (Entrega Continua Exitosa)
        if: success()
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "text": " Entrega continua completada y despliegue activado en Render en la rama `${{ github.ref_name }}`.\n\n*Autor del commit:* ${{ github.actor }}\n*Commit:* <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>\n*Ver ejecuci贸n:* <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|GitHub Actions\n*App desplegada en:* <https://parcial-ic.onrender.com|https://parcial-ic.onrender.com>>",
              "username": "GitHub Actions CD",
              "channel": "#notificaciones-despliegue"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_3 }}

      - name: Enviar Notificaci贸n a Slack (Fallo de Entrega Continua)
        if: failure()
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "text": " Fall贸 la entrega continua desde la rama `${{ github.ref_name }}`.\n\n*Autor del commit:* ${{ github.actor }}\n*Commit:* <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>\n*Ver ejecuci贸n:* <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|GitHub Actions>",
              "username": "GitHub Actions CD",
              "channel": "#notificaciones-despliegue"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_3 }}